<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Servicio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicioConsumoSoap" />
        <binding name="ws_pventaSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.147.34/ws_puntoventa/ws_pventa.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_pventaSoap"
        contract="PVenta.ws_pventaSoap" name="ws_pventaSoap" />
      <endpoint address="http://192.168.251.178/serviciointegradorQAS/servicioconsumo.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicioConsumoSoap"
        contract="ServicioIntegradorSAP.ServicioConsumoSoap" name="ServicioConsumoSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Servicio.Properties.Settings>
      <setting name="tipoEjecucion" serializeAs="String">
        <value>SAP</value>
      </setting>
    </Servicio.Properties.Settings>
  </applicationSettings>
</configuration>